@import url("./reset.scss");
@import url("./variables.scss");
@import url("./themes/light.scss");
@import url("./themes/dark.scss");

#root,
html,
body,
#app,
.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}