@import url("./reset.scss");
@import url("./variables.scss");
@import url("./themes/light.scss");
@import url("./themes/dark.scss");

#root,
html,
body,
#app,
.app {
  font-size: var(--font-size-m);
  font-family: var(--font-family-main);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}