:root {
  /*Colors*/
  --accented-color: blue;
  /*Delay*/
  --transition-delay: 0.3s;
  /*Sizes*/
  --navbar-height: 80px;
  --sidebar-width-collapsed: 80px;
  --sidebar-width: 300px;

  /*Fonts*/
  --font-family-main: Consolas, "Times New Roman", sans-serif;

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
}