.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width var(--transition-delay) linear;
  position: relative;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.links {
  display: flex;
  flex-direction: column;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}