.appButton {
  cursor: pointer;
}

.clear {
  background: none;
  outline: none;
  border: none;
}

.background {
  color: var(--bg-color);
}

.backgroundInverted {
  color: var(--inverted-bg-color);
}