.appButton {
  cursor: pointer;
  padding: 4px 8px;
}

.clear {
  background: none;
  outline: none;
  border: none;
  transition: var(--transition-delay) linear transform;

  &.background {
    color: var(--bg-color);
  }

  &.backgroundInverted {
    color: var(--inverted-bg-color);
  }

  &:hover {
    transform: scale(1.05);
  }
}

.outlined {
  border-radius: 10px;
  background: none;
  outline: none;
  transition: var(--transition-delay) linear all;

  &.background {
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
  }

  &.backgroundInverted {
    border: 1px solid var(--inverted-bg-color);
    color: var(--inverted-bg-color);
  }

  &:hover {
    border: 1px solid var(--accented-color);
    color: var(--accented-color);
  }
}

.filled {
  border: 1px solid transparent;

  &.background {
    color: var(--inverted-bg-color);
    background: var(--bg-color);
  }

  &.backgroundInverted {
    color: var(--bg-color);
    background: var(--inverted-bg-color);
  }
}