.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}